[2016-11-03 09:39] damaggu opened #1 "SpaceTimeRealigner dev version"
Hey Christian,

when running the pipeline, the realigner throws this exception. Somehow the version of the nipy.SpaceTimeRealigner doesn't match the required one. How do I get rid of this?

Very best

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/nipype-0.12.1-py2.7.egg/nipype/pipeline/plugins/multiproc.py", line 49, in run_node
    result['result'] = node.run(u

[2016-11-04 03:46] TheChymera commented on #1
Ok, so I looked this up, and I think the strange question here is why **I** do not get the same error, though I use the same versions. In any case, your [error has been reported before](https://github.com/nipy/nipype/issues/1066), and can apparently be fixed by installing the newest nipy (live) directly from GitHub:

[2016-12-28 20:14] TheChymera commented on #1
@damaggu has the newer nipy worked for you? If so, we should close this issue.

[2017-01-15 17:59] damaggu commented on #1
Yes no issues with the newer version, thanks

[2017-01-15 17:59] #1 closed, assigned to nobody

[2017-02-19 16:31] TheChymera opened #12 "Add support for design matrix convoluted with custom IRF"
Custom impulsa response functions (IRFs) for FSL's `feat_model` input file are not currently supported by nipype. We can implement this as soon as we add the feature in nipype.

The PR will be submitted shortly, pendig some clarification from FSL:

* https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=ind1702&L=FSL&F=&S=&X=05A2D79F8FA18F766A&Y=ioanas%40biomed.ee.ethz.ch&P=191089
* https://www.jiscmail.

[2017-02-19 16:38] TheChymera opened #13 "Slice Timing for `SAMRI diagnose`"
Our diagnosis tool for stimulus evoked activity and measurement quality/stability uses FSL's `melodic`. Though the MELODIC guide [recommends the input be preprocessed](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/MELODIC#Pre-Stats) the pipeline still fails as soon as the most basic preprocessing step (spatiotemporal realignment) is NOT skipped.

We should:
* Find out what exactly causes the failing beha

[2017-02-22 19:41] damaggu opened #14 "Automated registration parameter optimization"
For different scanning modalities, there is still a lot of manual tweaking involved in order to get the parameters right, there we should:

- research and define a metric for evaluating registration
- run different registrations over a wide range of parameters to define default values

[2017-02-22 19:45] damaggu opened #15 "Functional Connectivity and Dynamical Functional Connectivity"
Implementation D.F.C as additional features of SAMRI for analysis of resting state data

[2017-02-22 19:47] damaggu opened #16 "Dynamic/Functional Connectivity"
Implementation of F.C. as an additional feature of SAMRI

[2017-04-15 21:23] TheChymera opened #21 "Remove by-path import"
The following is horrible coding style.

[code]

This mistake originates with me - back when I was trying to just run everything from the cloned directory.
Over the next day or so I will try to prune as many of these occurrences from the codebase, and add instructions for how to use the live code as a real package in the README.

[2017-04-15 21:54] TheChymera opened #22 "Python3 compatibility for pipelines"
I keep my data analysis server on Python 2.7, so I have not yet tested the pipelines on `3.*`. @damaggu do you have any Python `3.*` machine which you could test the pipelines on?

Certainly the relative imports need to be updated (“Implicit relative imports should never be used and have been removed in Python 3” - from [PEP-8](https://www.python.org/dev/peps/pep-0008/#imports)), but there may be

[2017-04-15 23:02] TheChymera commented on #21
removed imports c0bb7a06a7fba92acdb953c6602334fc00e42cfd

[2017-04-15 23:02] TheChymera commented on #21
added installation instructions 27e45d3ce59eeadec3de1a1a3d1647004be48749

[2017-04-15 23:04] TheChymera commented on #21
@damaggu no need to run SAMRI without module functionality anymore. One can set up a dynamic install [like so](https://github.com/IBT-FMI/SAMRI#python-package-manager-developers).

[2017-04-15 23:04] #21 closed, assigned to TheChymera

[2017-04-16 09:05] TheChymera commented on #22
d7f14b02a0c9f4dcea3fa245d141ace0cd9a296e might have been all of them

[2017-04-17 20:21] TheChymera commented on #12
As of https://github.com/nipy/nipype/commit/66844b2e2bcf628a9e90df65f402412208ee87af niype fully supports this feature and as of https://github.com/IBT-FMI/SAMRI/commit/3768950fd66ba2bed8b346d3cc54c124e50677c1 we are using it to model a custom IRF (this should be parameterized in the future)...

[2017-04-17 20:21] #12 closed, assigned to TheChymera

[2017-05-10 19:12] TheChymera commented on #22
In a related matter, [nipype will release a new API, working only with python 3 at the end of the year](https://github.com/nipy/nipype/issues/1983#issuecomment-300302837). Ideally we would move our pipelines from the present API to the new one in between the submission for ISMRM 2018 and the actual conference.

[2017-05-10 19:22] TheChymera commented on #16
I got ready to start building on your outline module just now, this included:

* moving the plotting function to the appropriate module 2e4152a8e064990a4ef05ddb044509f8373cb408
* renaming the submodule to something more descriptive (analogously, we call our GLM submodule `glm.py` and not `stimulus_evoked.py`; something we have previously talked about, and which seemed very hot indeed at ISMRM 2017

[2017-05-13 07:54] damaggu commented on #22
Yes, I'll set up a machine to test with python 3.6 !

[2017-05-17 18:40] TheChymera opened #23 "Module Restructuring - esp. Plotting and analysis separation."
A lot of analysis functionality seems to be accumulating under the plotting module. We need to create a separate analysis module to which to migrate most of it, and in which to place further non-pipeline analysis functionality.

[2017-06-13 03:23] TheChymera commented on #16
Seed based connectivity available as of b51602d7b1290c1ec2a68841c646bf88751568d7 .

[2017-06-13 03:35] TheChymera opened #24 "Bootstrapping seed-based functional connectivity"
SAMRI can now generate seed-based connectivity plots, however, the seed regions of interest might be at slightly different positions and of slightly different shapes/sizes between subjects, at least.

A useful feature may be to bootstrap the seed region, so that that it can iteratively grow into the region making the most functional sense at that approximate location in each animal.

In the follow

[2017-06-14 18:55] TheChymera opened #25 "Atlasses and Example Data"
Most of the higher level statistics in SAMRI require coregistration, so at the moment they are useless without a template. As a bare minimum we should provide one mouse and one rat T2 template in a separate repository, or provide some fancy data import function, like [nilearn does](https://github.com/TheChymera/nilearn/tree/master/nilearn/datasets). In the latter case, which might be the better so

[2017-07-06 20:49] TheChymera opened #27 "Fully implementing BIDS Standard"
The common workflow of fMRI data processing is generally:

1. [Preprocessing](https://github.com/IBT-FMI/SAMRI/blob/2aba7eaa3a0c9ea10aad60bba0b7300a8cc2477c/samri/pipelines/preprocessing.py#L36)
2. [First Level](https://github.com/IBT-FMI/SAMRI/blob/2aba7eaa3a0c9ea10aad60bba0b7300a8cc2477c/samri/pipelines/glm.py#L18) (subject-based) statistical analysis
3. [Second Level](https://github.com/IBT-FMI

[2017-07-09 10:42] damaggu commented on #13
addressed this issue on neurostars:

[https://neurostars.org/t/nipy-spacetimerealigner-problem/337/8](url)

[2017-07-10 11:13] TheChymera opened #29 "Correlation matrix example does not work."
The [recently contributed correlation matrix function](https://github.com/IBT-FMI/SAMRI/blob/8143d761135a66f802aff6120589352932a1ad8f/samri/plotting/examples.py#L312) seems to not work properly. It produces the following plot:

![figure_1](https://user-images.githubusercontent.com/950524/28015633-16f029c4-6571-11e7-8b3c-45ced6e605ed.png)

Not least of all, it took a bit of fixing to get it to even

[2017-07-10 13:24] TheChymera commented on #29
Also, while it is cool that the correlation matrix function can save the data file for later plotting, ideally we would not do this in any example (to avoid dropping trace files everywhere). This is best done by only saving when an optional `save_as` string argument evaluates to True.

[2017-07-13 20:12] TheChymera commented on #13
@damaggu FSL has a slice timing correction function, which has a nipype interface already. Maybe it's worth a try, though I still believe the best solution is to sort the SpaceTimeRealigner out with Alexis Roche.

[2017-07-20 19:37] damaggu commented on #29
Reviewed and edited suggested changes. Should work now, also atlas annotation fixed. For testing please replace filenames and in the labels csv line 177 replace ‘,’ by something else (

Accessory olfactory   bulb: glomerular, external plexiform and mitral cell layer ), since it messes up the parsing.

result should be something like this
![matrix](https://user-images.githubusercontent.com/19386996

[2017-07-26 15:39] TheChymera opened #35 "Quantitative registration QC and maybe even automatic optimization"
Ideally we would like to have a function which can check the registration quality at a glance - to quantitatively compare alternative preprocessing workflows to ours, but also different parameter specifications for our own workflows. This feature could also be used to automate parameter optimization for our registration. This may require quite a bit of work, but it would be a splendid occasion to

[2017-07-26 15:40] TheChymera commented on #35
We start by making a similarity metric script from ANTs [accessible via nipype](https://github.com/nipy/nipype/pull/2128).

[2017-07-30 09:01] SandyHer opened #36 "AssertionError- pywintypes.py"
When I run "preprocessing.py"  i get the following error

...packages\win32\lib\pywintypes.
py", line 117, in __import_pywin32_system_module__
    assert sys.modules[modname] is not old_mod
AssertionError

I try to solve it with the following suggested solutions but nothing worked.
    1)Commenting out two lines in  in win32/lib/pywintypes.py:
                 #assert sys.modules[modname] is old_m

[2017-07-30 09:01] SandyHer commented on #36
@TheChymera

[2017-07-31 00:15] TheChymera commented on #36
Hey, sadly we neither use nor recommend using Python on Windows. If you manage to get this to work it would be really great if you wrote a guide for it (ideally using SAMRI should not prescribe your operating system), which would also make it into our documentation. For the time being, however, and in order to prioritize your project, I would recommend one of two other approaches:

* Use SAMRI onl

[2017-08-02 09:27] SandyHer commented on #36
Ok, thank you very much for your detailed reply @TheChymera
So now that i am back at vm, I get the  following error.

OSError: [Errno 2] No such file or directory: '/home/chymera/ni_data/ofM.dr'

What should i do?

[2017-08-02 16:53] TheChymera commented on #36
@SandyHer

There were two problems with that:

* The data directory was not yet present on your clusterhost (I have now made it available under `~/ni_data/`).
* My home path (`/home/chymera/`) was still hard-coded in some functions. I have now [made all the home paths relative](https://github.com/IBT-FMI/SAMRI/commit/41a8c12bef0615cf82bb0a43921a3eb055f02cf6), meaning that they should point to ever

[2017-08-03 13:21] TheChymera opened #37 "Moving stable examples to separate submodule"
The old `samri/plotting/examples.py` has become bloated and confusing.

In 86a195d2fc37d701b978a97577ca000e2aa5c064 we have renamed the old `examples.py` file to `development.py`, and it will contine being an amorphous ever-evolving mess, with examples which become reliable, crystalized (and executable with the available example data) being moved to `samri/plotting/examples`.

This new directory w

[2017-08-04 13:12] TheChymera opened #40 "Caching files for high-load computations"
A number of our functions have to resort to parallelization - as they would otherwise take too long to execute.

In the registration quality control function, the [temporal mean computation](https://github.com/IBT-FMI/SAMRI/blob/master/samri/qc/registration.py#L21) is the main resource muncher. Currently we just save the temporal mean NIfTIs [in the filesystem the temproal directory](https://githu

[2017-08-04 13:33] TheChymera commented on #14
superseeded by https://github.com/IBT-FMI/SAMRI/issues/35

[2017-08-04 13:33] #14 closed, assigned to damaggu

[2017-08-04 13:34] TheChymera commented on #36
Please close this issue if it has been solved :)

[2017-08-04 13:35] #36 closed, assigned to nobody

[2017-08-08 09:32] SandyHer opened #41 "Multiple errors: missing file and workflow errors"
1)I get this error a lot during the execution of preprocessing.py

    RuntimeError: Command:
     bet
 /mnt/data/ni_data/ofM.dr/preprocessing/composite_work/_subject_session_5704.ofM_aF/_scan_type_TurboRARE/s_cutoff/6_corrected_maths.nii.gz /mnt/data/ni_data/ofM.dr/preprocessing/composite_won_5704.ofM_aF/_scan_type_TurboRARE/s_BET/6_corrected_maths_brain.nii.gz -f 0.30 -m -R
Standard output:

Sta

[2017-08-08 10:57] TheChymera commented on #41
1) This is apparently a bug with our FSL installation. It's looking for `fslhd` under the FSLDIR: `/usr/share/fsl/bin/fslhd` whereas we install it under `/usr/bin/fslhd`. The reason we have not noticed it is that we d not currently use the conditional `bet` (brain extraction tool) parts of our pipeline. Note how all of the BET code is in [conditional statements](https://github.com/IBT-FMI/SAMRI/bl

[2017-08-08 14:34] TheChymera commented on #41
Additionally:

[code]

Fails, because there is no `/mnt/data/ni_data/ofM.dr/preprocessing/composite_won_5704.ofM_aF/_scan_type_TurboRARE/s_BET/6_corrected_maths_brain.nii.gz`. I assume it was supposed to be `/mnt/data/ni_data/ofM.dr/preprocessing/composite_work/_subject_session_5704.ofM_aF/_scan_type_TurboRARE/s_BET/6_corrected_maths_brain.nii.gz`, and it got jumbled in the output. I see no other

[2017-08-08 14:34] #41 closed, assigned to TheChymera

[2017-08-11 15:49] TheChymera opened #42 "Simplifying preprocessing logic"
The our `samri.pipelines.preprocessing` logic is becoming really convoluted. This is because we are trying to provide:

1. Many different registration methods
2. A few conditional registration features
3. Many other conditional steps
4. support for both native rsolution and inflated voxels

I think we should:

1. Not much can be done about this
2. Try to make the conditional registration features

[2017-08-11 16:00] TheChymera commented on #42
5. and 6.:

* c2d971cf106936f6c700a8ddd732d62e43bda1bd
* 945f73212ee8479d7181cd97d4fd48921142fe65
* 9ad77384c52f02568a531537ea064f0c0a066afa

[2017-08-17 09:03] TheChymera opened #43 "scan (task), subject, and session names with hyphens or underscores"
As correctly remarked in our initial discussion, BIDS forbids the usage of certain characters - quoting [bids_spec 1.0.2](http://bids.neuroimaging.io/bids_spec1.0.2.pdf):

underscores are not allowed)

subject labels.

I couldn't find any other info stated explicitly, but basically there seems to be a set of blacklisted charachers, hopefully identical for all value fields: subjects, sessions, and

[2017-08-17 16:03] damaggu commented on #13
so here are the results so far
timecourse of IC 9 without anything
![t9](https://user-images.githubusercontent.com/19386996/29421574-bfbce87c-8375-11e7-8c13-db0b479a6fcf.png)
5.64 % of explained variance;     0.73 % of total variance

timecourse of IC 9 with nipy spacetimerealigner
![t9](https://user-images.githubusercontent.com/19386996/29421659-10d97888-8376-11e7-9d0f-cb1786f0eca5.png)

timecour

[2017-08-17 16:13] TheChymera commented on #13
Sounds like a plan! I'd say we leave the bug open until we find a viable non-SPM solution to both spatial and temporal alignment.

[2017-08-17 17:14] damaggu commented on #16
Functional Connectivity Matrix plot, atlas based, available as of 7159a25b03368a268cc5001b9f65c70ca6fe5b79 .

[2017-08-21 12:11] SandyHer opened #46 "Nipype_display_crash command not found"
I wanted to create a function for the existing combination of scan_types while I was working on preprocessing.py but when I try to display the crash file with nipype_display_crash I get "command not found"
I tried
1)	Use Nipypecli, as I found that was a possible solution. And I got
pkg_resources.DistributionNotFound: The 'click>=6.6.0' distribution was not found and is required by nipype
2)	Log us

[2017-08-21 17:23] TheChymera commented on #46
Should be fixed now. Please close the issue if it is.

To give you some context, we are developing SAMRI hand-in-hand with upstream changes to [nipype](https://github.com/nipy/nipype/) - which is why we use a live ebuild (you ca tell that it is live by the `9999` suffix in e.g. the output of `eix -e nipype`).

This means that whenever we run `emerge nipype`, the very newest development version is

[2017-08-24 10:18] TheChymera commented on #15
Superseded by #16

[2017-08-24 10:18] #15 closed, assigned to damaggu

[2017-08-24 11:34] TheChymera commented on #23
This issue seems to be quite a bit more pervasive than just the plotting/analysis separation initially remarked upon, and it traverses a lot of our structure. I think the main flaw at this point is that very many sub/modules are organized based on the intended use case outcome, and not the type of operations performed. This especially materializes in a lot of plotting-irrelevant analysis code accu

[2017-08-28 08:39] #46 closed, assigned to nobody

[2017-09-08 13:04] TheChymera opened #51 "Docstring Format"
Hi @damaggu  - could you please use the [NumPy docstring style](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt) for docstrings?
This will make the docstrings more transparent to people working with the scientific python stack, and we already have some experience with troubleshooting Sphinx docs generation from this format.

https://github.com/IBT-FMI/SAMRI/blob/2ebfe0908a13f

[2017-09-08 14:44] TheChymera opened #52 "Dummy BIDS data fetching"
Since we're making progress on fetching, maybe it would be a good idea to add fetch capabilities for dummy BIDS data (iirc the BIDS people publish a dummy dataset). This would be important in order to test our BIDS iterator functions (which are and should continue to be the backbone of our analysis function input).

[This function](https://github.com/IBT-FMI/SAMRI/blob/b00e0bd8a39af1feb0361bb2de7b

[2017-09-08 21:11] TheChymera commented on #40
We implement a primitive version of this (no checksum or timestamp checks) in eafd80314fe5ebef074587f1f723e68320e03440 .

In this solution we err on the side of caution (but pay with a higher probability of re-running an identical analysis) by placing cached files under `/tmp/`.

[2017-10-17 22:56] TheChymera commented on #27
a769ef6e6ea6d707a0d2c8c84117a0013f9b9aaa introduces new Bruker metadata parsing functionalities, whereby:

* one of [a defined lists of allowed contrasts](https://github.com/IBT-FMI/SAMRI/blob/a769ef6e6ea6d707a0d2c8c84117a0013f9b9aaa/samri/pipelines/extra_functions.py#L14) is selected [based on the Bruker "scan" name](https://github.com/IBT-FMI/SAMRI/blob/a769ef6e6ea6d707a0d2c8c84117a0013f9b9aaa/s

[2017-11-20 08:26] TheChymera commented on #27
Separate Bruker-to-BIDS repositing workflow available as of 1e8a0c171098945b164ad0ce918ac3997672c365 .

This is now the recommended way to start preprocessing. The rest of the preprocessing pipeline will be adapted shortly.

[2017-11-20 08:38] TheChymera commented on #25
To make [our new Bruker-to-BIDS repositing workflow](https://github.com/IBT-FMI/SAMRI/commit/1e8a0c171098945b164ad0ce918ac3997672c365) sustainable, we now also have [a test](https://github.com/IBT-FMI/SAMRI/blob/21703ecded1a83eb5db97687a68d1387d77d728e/samri/tests/test_bids_parsing.py#L55) for its execution. Sadly this [will not work](https://travis-ci.org/IBT-FMI/SAMRI/builds/304509632) with exam

[2017-11-20 08:43] TheChymera commented on #22
How is this coming along? While I believe I have been coding Python3-compatibly, I am still doing all the heavy-lifting on Python2.7 systems. Have you executed all of your analysis for the ISMRM abstract on Python3?

[2018-02-08 21:42] TheChymera opened #59 "bru2bids will not execute if no functional scans are present"
[code]

The logic needs to be updated so that the workflow graph gets constructed even in the absence of a `functional_scan_types` list.

[2018-03-04 13:34] TheChymera commented on #13
@damaggu  I might have figured out what's up. How can the slice timing correction be performed without passing the times of the slices to the function (we currently don't extract those from the ParaVision metadata)?

It can't. The algorithm is forced to assume that the slices are spaced evenly covering the entire TR, which in some scans may not be the case (and may be argued to be suboptimal). I'l

[2018-03-04 13:43] TheChymera opened #60 "Extract and write Sclie Timing data"
As of 93b083bb7122379b38704069092d9c9d9c4525df datasets produced by `samri.pipelines.reposit()` pass the [BIDS validator](http://incf.github.io/bids-validator/). However, there's still come non-fatal errors, most prominently that we are missing a `SliceTiming` parameter.

This might also help a lot with our [slice timing correction issue](https://github.com/IBT-FMI/SAMRI/issues/13).

[code]

[2018-03-06 01:45] TheChymera opened #61 "Better naming scheme for workdir iteration directories"
One thing that got lost in the recent preprocessing update is that the workdir is now subdivided in what appears to be indices of the BIDS dataframe, rather than more easily explorable names such as `<subjectID>-<sessionID>`.

It'll be rather difficult for users to efficiently debug workflows in the future if we can't locate the directories based on details which we otherwise use to identify the d

[2018-03-21 12:38] TheChymera opened #62 "Package-wide Import testing outside of __init__.py"
Curently, we are testing if all imports work by including [this snippet](https://github.com/IBT-FMI/SAMRI/blob/fa3ab993259524ac77c69171713226fb8f7110d5/samri/plotting/__init__.py#L1-L7) in all modules' `__init__.py`.

This is quite annoying, since it loads all imports from a module even only if you are only looking to execute one function, and thus raises (perfectly sensible but command-unrelated)

[2018-07-03 09:30] grandjeanlab opened #68 "support for DTI"
I would like to see implemented DTI support in addition to fMRI / structural.
Can provide test dataset

[2018-07-03 09:53] grandjeanlab opened #69 "issue with nipypye and network >2.0"
I tried running test_script.py.
Had following error message using python 3.5 on ubuntu 16.04:
  File "/usr/local/lib/python3.5/dist-packages/nipype/pipeline/engine/workflows.py", line 963, in _get_dot
    for subnode in self._graph.successors_iter(node):
AttributeError: 'DiGraph' object has no attribute 'successors_iter'

I downgraded to networkx 1.11 and it fixed it.

[2018-07-03 21:55] TheChymera commented on #68
Please archive and send me a minimal dataset (2-3 scan sessions, raw Bruker directories) as a `.zip`, and declare here that you agree to have it made publicly available as part of a [CC-BY](https://creativecommons.org/licenses/by/4.0/)-licensed example data archive. Currently this is the [`samri_bindata` archive](http://chymera.eu/distfiles/samri_bindata-0.1.1.zip), which will list you, me, and po

[2018-07-03 22:19] TheChymera commented on #69
SAMRI does not call networkx directly, so this is a nipype rather than a SAMRI issue.
Still, please tell me the nipype version or if it's not an explicit version the exact commit (the long string of letters and numbers, e.g in [this link](https://github.com/nipy/nipype/tree/7055313c91de52bf65518284b42df446466fe581)), so I can fix this in the Gentoo package manager.

If you are using another packag

[2018-07-03 22:47] TheChymera commented on #25
Example data is now available at: http://chymera.eu/distfiles/samri_bindata-0.1.1.zip (Gentoo Package `sci-biology/samri_bindata`).
Atlases are now available at: http://chymera.eu/distfiles/mouse-brain-atlases-0.1.20180623.zip (Gentoo Package `sci-biology/mouse-brain-atlases`).

[2018-07-03 22:47] #25 closed, assigned to damaggu

[2018-07-04 03:42] grandjeanlab commented on #69
I use nipype 1.0.0.dev0 corresponding to tree 7055313c91de52bf65518284b42df446466fe581 and manange my packages manually so far.

[2018-07-04 03:48] grandjeanlab opened #70 "support for fMRI slice timing in json files"
currently flagged on openneuro.org if one tries to upload a BIDS folder generated with SAMRI

[2018-07-04 03:53] grandjeanlab opened #71 "support for "run" for fMRI"

[2018-07-10 05:46] grandjeanlab commented on #59
Any chance to have an update on this soon? I run into the issue for my brain volumetry scans.

[2018-07-16 17:02] TheChymera commented on #59
attempted fix in e6df99d7c939e1227d276486ebcd422d2e3b9fcc . @joanesg try it out!

[2018-07-17 05:39] grandjeanlab commented on #59
I tested it. It seems issue is resolved. Thx @TheChymera

[2018-07-17 07:37] #59 closed, assigned to TheChymera

[2018-07-25 01:11] grandjeanlab opened #72 "Cannot output mutliple fMRI "runs" since new update"
I have a scan protocol with multiple fmri. Since last update to allow only structural img export, the following command doesn't work any more

SAMRI bru2bids -o .  -f '{"acquisition":["EPI1","EPI2","EPI3"]}' -s '{acquisition":["RARE"]} raw

scan are named as follow.

acq-RARE_T2w
task-SSFO_acq-EPI1_bold
task-rest_acq-EPI2_bold
task-SSFO_acq-EPI3_bold

While the individual exports do
SAMRI bru2bids

[2018-07-26 19:34] TheChymera commented on #72
@joanesg can you upload an example dataset? Also, in what way does it fail? Does it crash, produce the wrong files, or produce only some of the files you wanted?

[2018-08-05 06:17] TheChymera commented on #68
@joanesg  DWI support should be available after 9abbe2f0b7450d1d35a9f199edcd5bc629f40a95 :

[code]

[2018-08-29 06:43] grandjeanlab commented on #72
This has been seemingly resolved in the new update.

[2018-08-29 06:52] grandjeanlab commented on #68
DWI/DTI images should be accompanied with bvec and bval, else useless. This is seemingly not the case in the tree output shown above.

See 8.3.4 Diffusion imaging data  in http://bids.neuroimaging.io/bids_spec.pdf

bvals can be found under PVM_DwEffBvals in the corresponding method file for the scan.
bvec are found under PVM_DwGradRead, PVM_DwGrandPhase, and PVM_DwGradeSlice in the same file.

Let

[2018-08-29 06:52] #72 closed, assigned to nobody

[2018-12-16 04:15] TheChymera opened #75 "3Dplot test fails"
The test for the newly added 3Dplot function seems to be broken:

[code]

[2018-12-16 12:18] setina42 commented on #75
I think this might be an issue with the blender installation, the 'cycles' module is needed here. It is not included per default and requires a USE-flag.

Is there some assertion I could include in the test? Or how is this ususally handled?

[2018-12-16 18:18] TheChymera commented on #75
Checking dependencies is best done not in the test suite, but in the package manager.

Ideally you would add blender with the respective USE flags [here](https://github.com/IBT-FMI/SAMRI/blob/a0bdb8124249ec06be7d49460385a37185e300c2/.gentoo/sci-biology/samri/samri-99999.ebuild#L21).

If you want to delve into this a bit deeper you will notice that we already have heaps of deps. Maybe it is time bl

[2018-12-16 21:40] TheChymera commented on #75
@setina42 how did you manage to install it, though? `blender[cycles]` requires `blender[cycles, openimageio]`, and [openimageio is currently bugged](https://bugs.gentoo.org/668412). :(

[2018-12-31 02:33] TheChymera opened #79 "Dynamic template fetching deprecation"
https://github.com/IBT-FMI/SAMRI/blob/master/samri/fetch/templates.py#L22

We should look to migrate our template resolution to proper package management (instead of some web download at runtime), similarly to how this was done for the mouse brain templates:

* [Template generator package](https://github.com/IBT-FMI/mouse-brain-atlases_generator).
* Template package atom for e.g. [Gentoo](https://

[2019-02-17 19:10] #75 closed, assigned to setina42

[2019-02-17 19:12] TheChymera opened #82 "3D Plot tests fail"
even after your latest PR (a505fc23b74ec7bd48da251921db361502bd09d6), the issue persists:

[code]

Are you sure this is not an issue with blender USE flags?

[code]

[2019-02-17 21:06] setina42 commented on #82
Maybe. What do you have in `package.use` regarding blender? I have the following USE flags:
`media-gfx/blender cycles tiff openimageio
`

[2019-02-17 21:26] TheChymera commented on #82
@setina42 `/etc/portage/package.use` just provides a subset of the requirements. To see all flags, please use `eix`.

The bug happens both with the flags I pasted above and with:

[code]

[2019-02-17 21:36] TheChymera commented on #82
Ok, this seems was cause by my blender configuration. As I use it mainly for video editing, it seems the mesh-creation function inherits the environment.

[code]

as my user solved it, but obviously we can't rely on this being done. Is there any way for you to unload the user config in the python interface?

[2019-03-07 13:14] TheChymera commented on #71
Added in 824da5f687ddb191bcb7463807cd19d0151b378f

[2019-03-07 13:14] #71 closed, assigned to nobody

[2019-03-07 13:16] TheChymera commented on #69
At any rate this seems to have been solved, tests pass here with the following versions (both newer than in this report):

[code]

[2019-03-07 13:16] #69 closed, assigned to nobody

[2019-03-07 13:16] #82 closed, assigned to nobody

[2019-03-07 13:18] TheChymera commented on #70
Marked as duplicate of #60

[2019-03-07 13:18] #70 closed, assigned to nobody

[2019-03-07 13:21] TheChymera commented on #22
The main deployments of SAMRI are now on python 3.6, in fact, with the pending deprtecation of python 2.* and the introduction of 3D plots in SAMRI via blender, which lacks python 2.* support:

[code]

It looks like we can in fact no longer guarantee that this will work on python 2.* we should start dropping support soon.

[2019-03-07 13:21] #22 closed, assigned to nobody

[2019-03-07 13:23] TheChymera commented on #42
1., 3., and partly 4.:

addressed by the introduction of `samri.preprocessing.legacy()` --- a pipeline to track legacy practices.

[2019-03-07 13:23] #42 closed, assigned to TheChymera, damaggu

[2019-03-08 06:56] TheChymera opened #90 "stat3D with `pos_values=True` sets the color for negative values to a sub-threshold positive value."
With the following code I get the picture below:

[code]

![test](https://user-images.githubusercontent.com/950524/54012769-61d87480-4177-11e9-8ba2-3c13bb112017.png)

Please also refer to this [minimal reproducible example](http://chymera.eu/debug/samri/3dplot.tar.xz).

[2019-03-08 13:37] setina42 commented on #90
Please see PR #91
Do you think we should add the option for plotting only negative values as well?

[2019-03-08 16:40] TheChymera commented on #90
Yes, and I would rename it `positive_only` and name the other `negative_only`, more explicit names are better :)

[2019-03-24 18:08] #90 closed, assigned to setina42

[2019-05-07 13:55] samfux84 opened #96 "ANTs with or without GUI ?"
Hi,

ANTs is listed as a dependency of SAMRI. Does ANTs need to be built with the GUI (QT and VTK) or can SAMRI also use ANTs without GUI ?

Best regards

Sam

[2019-05-07 16:33] TheChymera commented on #96
No, the GUI is not required for the SAMRI workflows to be able to access ANTs. It's all done via the command line interface.

[2019-05-08 05:38] samfux84 commented on #96
Thank you for the reply.

[2019-05-08 05:38] #96 closed, assigned to nobody

[2019-07-25 08:18] TheUwe opened #100 "n-jobs in generic-prep function"
While pre-processing resting state fMRI data, I tried to limit the processing done in parallel, since my cluster allows only for a limited amount of capacity used. Therefore, I wanted to use the implemented parameter '--n-jobs' of the 'generic-prep' function. Unfortunately, I couldn't manage to let the parameter be accepted.

I tried my basic code
`SAMRI generic-prep -n-jobs 4 -o Exp1 -f '{"acquis

[2019-07-26 13:51] TheChymera commented on #100
Thank you for the report.
I have reviewed the code and it should work. Please specify:

* The exact command which you used (the command you posted above does not specify a jobs number)
* How you know that this used “too many cores” --- ideally while specifying the number of cores.

[2019-09-29 11:04] grandjeanlab opened #101 "NiftiException error"
Trying to run the diagnostic function together with the test dataset provided.
I get the following error. Any idea why?

Standard error:
terminate called after throwing an instance of 'NiftiException'
  what():  Error: cant open file /home/gjoanes/Desktop/BIDS_test/diagnostic_work/_path_..home..gjoanes..Desktop..BIDS_test..bids..sub-6553..ses-ofMk..func..sub-6553_ses-ofMk_task-CogBr_acq-EPI_run-0_

[2019-10-03 15:15] TheChymera commented on #101
can you please post the output of

[code]

and upload the `/home/gjoanes/Desktop/BIDS_test/diagnostic_work/path..home..gjoanes..Desktop..BIDS_test..bids..sub-6553..ses-ofMk..func..sub-6553_ses-ofMk_task-CogBr_acq-EPI_run-0_cbv.gz/slicetimer/forced_dummy_scans_file_st.nii.gz` file somewhere?

[2019-11-30 06:50] salma1601 opened #102 "installing SAMRI"
Dear SAMRI experts,

I am trying to install SAMRI. I installed gentoo in my home, installed the overlay science in `/home/salma/gentoo/var/db/repos` and tried to emerge samri but I am getting the following error

[ebuild  N     ] dev-util/gperf-3.1
[ebuild  N     ] sci-biology/mouse-brain-atlases-0.5.3  USE="-hires"
[ebuild  N     ] x11-misc/xbitmaps-1.1.2-r1
[ebuild  N     ] dev-util/re2c-1.2.1

[2019-11-30 18:11] TheChymera commented on #102
Dear @salma1601 thank you so much for giving our pipeline package a try!

Of course we recommend using Gentoo, but it's not a prerequisite. It's just what we decided to use on all our servers at the ETH and UZH in Zurich, because it works so well for scientific software. Other labs have reported using the pipelines in Ubuntu.

Regarding your current issue, it is standard policy for Gentoo to promp

[2019-12-01 17:15] salma1601 commented on #102
Dear @TheChymera
Thank you very much for your help and reactivity. I tried the first command `emerge -v samri --autounmask-continue`, and it looks like there is an error with `UTF8` and `dev-util/meson-0.52.0`. Can I follow the rest of the commands ?

-----------------------------------------------------------------------------------

 * meson-0.52.0.tar.gz BLAKE2B SHA512 size ;-) ...

[2019-12-02 18:11] TheChymera commented on #102
Dear @salma1601 can you please paste the output of `locale`?

[2019-12-02 20:52] salma1601 commented on #102
Dear @TheChymera here is the output of `locale`

LC_CTYPE="POSIX"
LC_NUMERIC="POSIX"
LC_TIME="POSIX"
LC_COLLATE="POSIX"
LC_MONETARY="POSIX"
LC_MESSAGES="POSIX"
LC_PAPER="POSIX"
LC_NAME="POSIX"
LC_ADDRESS="POSIX"
LC_TELEPHONE="POSIX"
LC_MEASUREMENT="POSIX"
LC_IDENTIFICATION="POSIX"
LC_ALL=

[2019-12-03 03:46] TheChymera commented on #102
Please uncomment one of the lines in `/etc/locale.gen`, e.g. `en_US.UTF-8 UTF-8`, and then run:

[code]

If you encounter further issues, please consult the [localization guide](https://wiki.gentoo.org/wiki/Localization/Guide). In the end, `locale` should return something like:

[code]

Having said that, please enable the chymeric overlay as well (as described above). I am noticing now the newest

[2019-12-03 11:43] salma1601 commented on #102
Dear @TheChymera
I enabled the chymeric overlay but there is still some problem with `dev-lang/python-3.6.9`. I am posting the whole traceback

[2019-12-03 18:12] TheChymera commented on #102
Dear @salma1601 , the relevant errors are contained within the `/home/salma/gentoo/var/tmp/portage/dev-lang/python-3.6.9/temp/build.log` file. Can you please upload it here?

[2019-12-03 20:54] salma1601 commented on #102
Dear @TheChymera , here is the log file
[build.log](https://github.com/IBT-FMI/SAMRI/files/3918655/build.log)

[2019-12-04 05:28] TheChymera commented on #102
I see. This looks very much like a Gentoo Prefix system. Now that I re-read your original post, it appears that's what you meant by home. Sorry abut that, I thought you meant on your home computer :)

That shouldn't be an issue. We have transitioned all our systems to full Gentoo, but we had prefix until a few months ago, and it worked, and should in any case continue to work.

Can you try `emerge

[2019-12-04 05:31] TheChymera commented on #102
@salma1601 what script did you use to set up the prefix installation?

[2019-12-04 07:44] salma1601 commented on #102
@TheChymera I used the bootstrp-prefix.sh script https://gitweb.gentoo.org/repo/proj/prefix.git/plain/scripts/bootstrap-prefix.sh

[2019-12-04 12:47] salma1601 commented on #102
@TheChymera I tried the `emerge --oneshot dev-libs/expat` followed by `emerge -vaDNu world` but there is still a failiure with the `dev-lang`
[build.log](https://github.com/IBT-FMI/SAMRI/files/3921826/build.log)

[2019-12-05 02:25] TheChymera commented on #102
Hmmmmm... ok, so if you look at your error log this is related to a libexpat symbol. The issue seems to have cropped up a number of times (not on Gentoo, but on other distros), e.g. here: https://github.com/sqlmapproject/sqlmap/issues/2194 . I am assuming something from your user config is confusing the prefixed system.

Did you perhaps do some exotic edits to your user's `LD_LIBRARY_PATH`? If so,

[2019-12-05 10:18] salma1601 commented on #102
dear @TheChymera , thank you for your support ! You are right, I have changed my `LD_LIBRARY_PATH` in my .bashrc to match some software requirements. After unsetting it and retrying the install, things go better and the `dev-lang` failiure is gone.
Now the emerge reached 114 of 166, failing for `sci-libs/dcmtk-3.6.0::science`. Could it be because I already have `dcmtk` installed on my machine ?
[b

[2019-12-05 21:05] TheChymera commented on #102
@salma1601 good, we're making progress :)

No, the dcmtk error is clearly a download issue. Can you reproduce this, or did your network maybe drop? I find it also curious that your system is trying to emerge `=dcmtk-3.6.0`. This is a comparatively old version, the current version is considerably newer (you can browse all available Gentoo packages with `eix`, to install it type `emerge eix`):

[cod

[2019-12-06 08:36] salma1601 commented on #102
You are right! Actually it was a licence issue because I run the command `echo 'ACCEPT_LICENSE="*"' >> /etc/portage/make.conf` only the first time. I ran it again, and the `dcmtk` failiure is solved :)

Now the emerge fails at step 10 of 47 with `sci-libs/nipy-0.4.2::science`, appearently there is an issue with `nibabel` ?
[build.log](https://github.com/IBT-FMI/SAMRI/files/3931149/build.log)

[2019-12-06 14:01] TheChymera commented on #102
This is strange... nipy is complaining that it cannot find nibabel, but nibabel is listed as one of its dependencies, and should thus be already present. What does `eix nibabel` say?

Not least of all, `echo 'ACCEPT_LICENSE="*"' >> /etc/portage/make.conf` was part of the instructions I gave you before I realized this was Prefix. It should be `echo 'ACCEPT_LICENSE="*"' >> /home/salma/gentoo/etc/por

[2019-12-06 17:17] salma1601 commented on #102
@TheChymera licence is OK and this is the output of `eix nibabel`

[code]

[2019-12-06 17:30] TheChymera commented on #102
so you have the newest version of nibabel already installed. Strange that nipy isn't finding it. Can you try importing it in the Python interpreter?

[2019-12-06 17:34] salma1601 commented on #102
Yes I do have nibabel because I already use it with other nipy libraries. Here is the output of `python -c "import nibabel; print(nibabel.__version__, nibabel.__file__)"`

[2019-12-06 17:51] TheChymera commented on #102
@salma1601 but I assume this is outside of Prefix? So the way Prefix works, is it creates its own system inside of `/home/salma/gentoo`. It's basically like a container but without the device mapping overhead.

From the output you pasted, this looks like nibabel from the parent system installation. Prefix can obviously not use this, because otherwise it would lead to significant confusion as to wh

[2019-12-06 18:12] salma1601 commented on #102
OK I understand better. Actually I have miniconda3 binaries added to my `PATH` in my `~/.bashrc`. So I unset my `PYTHONPATH` removed from `PATH` all paths pointing outside gentoo directory and rerun the emerge but it is still failing at the same point
[build.log](https://github.com/IBT-FMI/SAMRI/files/3933417/build.log)
and the output of `python -c "import nibabel; print(nibabel.__version__, nibab

[2019-12-06 20:21] TheChymera commented on #102
@salma1601 hm.... yes, looks like it's properly accessible now. The error message seems to come from the package's `setup.py` and not from Portage, meaning that it's trying to check for the package itself, in excess of what Portage does. And somehow it's not managing to...

Maybe this is Python-version contingent (though, again, Portage should be handling all of this automatically, and based on yo

[2019-12-06 21:05] salma1601 commented on #102
@TheChymera  here are the outputs
``` python2.7 -c "import nibabel; print(nibabel.__version__, nibabel.__file__)"```

  File "<string>", line 1, in <module>
  File "/home/salma/gentoo/usr/lib64/python2.7/site-packages/nibabel/__init__.py", line 62, in <module>
    from . import analyze as ana
  File "/home/salma/gentoo/usr/lib64/python2.7/site-packages/nibabel/analyze.py", line 87, in <module>

[2019-12-06 21:58] TheChymera commented on #102
@salma1601 I see, something is quite obviously broken with the Python 2.7 installation of nibabel. It appears there is an extra runtime dependency, specific for python2.7, which I have failed to document.

please check with `eix bz2file` whether it is already installed, if not, emerge it with `emerge -v1 bz2file`. This will emerge it only once but not add it to the world package set, this is usefu

[2019-12-07 06:06] salma1601 commented on #102
Now it is failing because of my `DCMTK` outside prefix !
[build.log](https://github.com/IBT-FMI/SAMRI/files/3934789/build.log)

[2019-12-08 00:04] TheChymera commented on #102
Dear @salma1601 as far as I can tell, this is not because of your own dcmtk, but because prefix detected the package wanted to install outside of the prefix. This is most likely due to the developer not having tested the package for prefix. We try to be careful about this sort of things, but as I said, Prefix is a bit of an edge case, and most developers do not use this functionality on their own

[2019-12-08 00:40] TheChymera commented on #102
@salma1601 I believe I have fixed it. Try running `eix-sync && emerge -vaDNu world`.

[2019-12-08 07:11] salma1601 commented on #102
@TheChymera I think you did fix it! Now failing for ANTs :)
[build.log](https://github.com/IBT-FMI/SAMRI/files/3935960/build.log)

[2019-12-08 22:54] TheChymera commented on #102
It seems to nit find ITK. can you paste the output of: `eix itk` and `equery f itk`?

[2019-12-09 07:49] salma1601 commented on #102
@TheChymera the output of  `eix itk` is

[code]
and the output of `equery f itk` is [here](https://github.com/IBT-FMI/SAMRI/files/3938364/gentoo_equery_f_itk_output.txt)

[2019-12-09 13:25] TheChymera commented on #102
Ok, I submitted a [fix](https://gitweb.gentoo.org/proj/sci.git/commit/?id=d7c83c94da820078b789db52bbcc9ac12d7538ef), you can try again :)

[2019-12-09 14:33] salma1601 commented on #102
@TheChymera still failing :(
[build.log](https://github.com/IBT-FMI/SAMRI/files/3940120/build.log)

[2019-12-09 14:55] TheChymera commented on #102
@salma1601 apologies, you need to get the fix first (via `eix-sync`).

[2019-12-09 16:37] salma1601 commented on #102
it is still failing for ANTs, but apparently for another reason
[build.log](https://github.com/IBT-FMI/SAMRI/files/3940764/build.log)

[2019-12-13 09:05] salma1601 commented on #102
@TheChymera  any progress on this ?

[2019-12-14 01:47] TheChymera commented on #102
@salma1601 sorry, I missed your previous reply. Hmmm....

what does

[code]

say?

[2019-12-14 07:03] salma1601 commented on #102
@TheChymera The folder `usr` is not directly in `/home/salma/gentoo/var/tmp/portage/sci-biology/ants-2.3.1_p20191013/image`
[code]
It is located in `/home/salma/gentoo/var/tmp/portage/sci-biology/ants-2.3.1_p20191013/image/home/salma/gentoo/`. Here are the paths
[code]

[2019-12-14 10:30] TheChymera commented on #102
Hm... ok, this is a bit of stabbing in the dark on my part since I don't have a prefix, but I think I might have figured it out. Try:

[code]

[2019-12-14 18:36] salma1601 commented on #102
failed :(
[build.log](https://github.com/IBT-FMI/SAMRI/files/3964192/build.log)

[2019-12-15 04:52] TheChymera commented on #102
Oh, this is strange. The error you got previously was because the install command was confused about the directories. The error you get now seems to indicate a dependency is missing. Did you change anything else? Does `emerge -v ants::science` still take you to where it took you before?

[2019-12-15 11:36] salma1601 commented on #102
I restarted my laptop meanwhile, so I restarted the prefix and executed `source ~/gentoo/etc/bash/bashrc`.

[2019-12-15 11:38] salma1601 commented on #102
`emerge -v ants::science` output is
[code]

[2019-12-15 14:35] TheChymera commented on #102
@salma1601 as usual, could you please paste the actual build log (path is listed on the fourth line from the bottom in the output you just pasted: `/home/salma/gentoo/var/tmp/portage/sci-biology/ants-2.3.1_p20191013/temp/build.log`)

[2019-12-15 20:42] salma1601 commented on #102
@TheChymera  sorry, here it is
[build.log](https://github.com/IBT-FMI/SAMRI/files/3965425/build.log)

[2019-12-15 23:35] TheChymera commented on #102
Ok, so it seems it's looking for GCC on your parent system: `/home/salma/mcr_matlab2018b_test/v95/sys/os/glnxa64/libstdc++.so.6` Are you sure you don't have any GCC-related environment variable inherited from the parent system?

In addition, where did you find the instructions to run `source ~/gentoo/etc/bash/bashrc`? Just curious since to my knowledge this isn't good advice. Run `source ~/gentoo/

[2020-01-17 22:35] andrewcyung opened #105 "advice on installing SAMRI without breaking existing dependencies"
Hi there,

I am really interested in using SAMRI to assist in animal fMRI data processing, and have noticed that SAMRI uses some of the dependencies that we are already using (most notably nipype, fsl, ants, and nibabel).  There are some custom configurations to these external packages that I made for my own data processing, and so I was wondering if SAMRI installation will overwrite or update any

[2020-01-19 03:39] TheChymera commented on #105
Hi, SAMRI just contains the top-level analysis code. It uses whatever versions of the dependencies are available on your system, and does not itself install or modify them. There is no unsafe way of installing SAMRI, but you will have to install the dependencies somehow. This is usually done via your distribution's package manager, and if you use Gentoo Linux, you can install both SAMRI and its de

[2020-02-10 03:26] #105 closed, assigned to nobody

[2020-09-19 23:06] TheChymera commented on #27
As of ba62cf28c127e2deabbe569d6ba50f624c74852b we are compatible with `=pybids-0.11.1` using the BIDS 1.4.1 standard.

[2020-09-19 23:06] #27 closed, assigned to TheChymera

[2020-09-19 23:07] #51 closed, assigned to nobody

[2020-09-19 23:08] TheChymera commented on #37
Examples are now covered by the test suite.

[2020-09-19 23:08] #37 closed, assigned to nobody

[2020-09-19 23:11] TheChymera commented on #23
As of eef1f40b2ce732b71539f2cbdfdbfed8591598e5 no functions from `samri.report` import functions from `samri.plotting`.

[2020-09-19 23:36] TheChymera commented on #35
Registration QC functions are available via the IRSABI manuscript:

https://www.biorxiv.org/content/10.1101/619650v3

Session-wise qualitative inspection will shortly be integrated from the work done on the NVCZ article: https://gitlab.com/Chymera/nvcz/-/blob/91000392dc40f6225ab7506d420f44c64ba4731b/prepare/preprocess_qc.py and multi-session QC should be integrated from the aforementioned article

[2020-09-19 23:37] #101 closed, assigned to nobody

[2020-09-19 23:39] TheChymera commented on #100
@TheUwe is this still relevant?

[2020-09-19 23:40] #40 closed, assigned to nobody

[2020-09-19 23:42] TheChymera commented on #43
As per the AOWSIS article, we rigidly expect BIDS-conform naming: https://www.frontiersin.org/articles/10.3389/fninf.2020.00005/full

Given the necessary constraints on the naming, additional flexibility is not really useful.

[2020-09-19 23:42] #43 closed, assigned to SandyHer

[2020-09-19 23:47] TheChymera opened #110 "`run` ticker"
According to the BIDS specification the run ticker should only be incremented for the same modality: https://bids-specification.readthedocs.io/en/latest/99-appendices/09-entities.html#run

Currently we increment it indiscriminately inside each datatype (func/anat/dti): https://github.com/IBT-FMI/SAMRI/blob/eef1f40b2ce732b71539f2cbdfdbfed8591598e5/samri/pipelines/extra_functions.py#L915

[2020-12-07 10:22] stebo85 opened #112 "mouse-brain-atlases-0.5.3.tar.xz missing?"
Dear @TheChymera

I am trying to emerge samri, but run into this problem:

Unable to unshare: EPERM (for FEATURES="ipc-sandbox network-sandbox pid-sandbox")

--2020-12-07 10:17:38--  http://distfiles.gentoo.org/distfiles/71/mouse-brain-atlases-0.5.3.tar.xz
Resolving distfiles.gentoo.org... 64.50.236.52, 64.50.233.100, 140.211.166.134, ...
Connecting to distfiles.gentoo.org|64.50.236.52|:80... conn

[2020-12-07 18:49] TheChymera commented on #112
I messed up the distfiles, apparently. I am reuploading this (and dozens of other archives) from the backups now :)
If you have a personal server on which we could host a mirror, that would be great! :) If not, this really shouldn't happen. The server is really stable, just that I somehow managed to delete old data in the directory when running `rsync` to add a new archive. (Rat brain data atlases

[2020-12-07 18:53] TheChymera commented on #112
@stebo85 ok, should work now! Let me know if that's ok.

[2020-12-08 08:15] stebo85 commented on #112
@TheChymera - great - I now got past this step :)

my next problem is that I am hitting the time limit in github actions to build the software - Is there a trick to build samri in less then than 6 hours?
https://github.com/NeuroDesk/caid/runs/1514228250?check_suite_focus=true

[2020-12-08 15:52] TheChymera commented on #112
@stebo85 SAMRI itself should be installed pretty much instantly. I assume this is the SAMRI dependency stack you are talking about. I highly doubt FSL+ANTS+AFNI+NumPy+SciPy can be built in under 6 hours :(

Could you go into greater detail regarding what exactly you're trying to do? It's possible tried to do something similar before as well — in order to auto-run the test suite.

[2020-12-08 20:57] stebo85 commented on #112
@TheChymera ok, this makes sense. I am trying to integrate samri in our neurodesk  project where we make a variety of neuroimaging tools available in singularity containers to allow users to easily run them on different hpc platforms and not having to install them manually :) we build these images with github actions and are therefore Limited to 6 hours runtime. Do you have by any chance a docker

[2020-12-09 03:25] TheChymera commented on #112
@stebo85 not really, we gave up on containers because the entire architecture is pretty bad for source-based installs. What we wanted to do instead for the test suite, is to create a tarball image of the system, and just start it in chroot. It's basically like a container, but without a lot of the overhead. You can see how we do it for the StereotaXYZ package here: https://github.com/IBT-FMI/Stere

[2020-12-10 02:21] stebo85 commented on #112
@TheChymera - ok, I tried setting it all up in a ubuntu container and got pretty far :)

I run into a problem when installing the mouse-brain-atlases_generator:
./make_archives.sh -v 0.5 -m

[code]

[2020-12-14 08:25] TheChymera commented on #112
@stebo85 sorry, apparently my instructions were unclear.

What you have tried to do is *regenerate* the mouse-brain-atlases package. That should also work, but it's not necessary, and it might not give you the actual version which we and other people use. The versioned release can be downloaded from the link in the README.

Let me know if you have any suggestions on how to make this clearer.

[2021-07-13 16:44] araikes opened #113 "Standalone BIDS converter"
Hi @TheChymera,

Have a question... I do not have access to a Gentoo environment. Our HPC is Centos07 and I've read through all the deps etc., that are required and it seems like building SAMRI in our environment would be more cumbersome than needed.

I would very much like to convert my data to a BIDS compliant format and was wondering if your bru2bids functions can function in a standalone sort

[2021-09-28 08:44] ChariteExpMri opened #114 "is "samri_bindata-0.1.2.tar.xz" missing?"
Dear @TheChymera,
when I try to download the **samri_bindata-0.1.2.tar.xz** -testdata via
wget http://chymera.eu/distfiles/samri_bindata-0.1.2.tar.xz
I receive the following 404-error:
[code]
Is the data set still available?
Thank you,
Paul Koch

[2021-09-28 20:55] TheChymera commented on #114
@ChariteExpMri we use a newer archive with better curated data now: http://chymera.eu/distfiles/samri_bindata-0.4.tar.xz Apparenly I had forgotten to update the links in the README wget commands, should be fixed now as per  https://github.com/IBT-FMI/SAMRI/commit/5a3cacbb1df1ccadc3696866b4473651dec00cf3 :)

[2021-09-30 08:29] ChariteExpMri commented on #114
Thank you very much, it works now!

[2021-09-30 08:29] #114 closed, assigned to nobody

[2022-08-08 09:19] Remi-Gau opened #115 "default readme in BIDS dataset"
We (BIDS maintainers) are trying to see if we can improve the quality of the average README in BIDS dataset. Those tend to be pretty thin and are missing some information we would like to see there even if it can be formalized "yet" into the BIDS specification.

Hoping to leverage the bids converters to help to do.

So I am going around the different BIDS converters repo to see if we can start imp

[2022-08-15 22:14] TheChymera commented on #115
@Remi-Gau

That would be amazing, thank you for offering.